body {
    font-family: sans-serif;
    background-image: url('https://cdn.pixabay.com/photo/2020/09/23/19/58/halloween-5596921_960_720.jpg')
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin-bottom: 20px;
}

.button {
    background-color: #36bbce;
    color: black;
    text-decoration: none;
    padding: 15px;
    font-size: 24px;
    border-radius: 10px;
    display: block;
}

nav {
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    padding: 25px 100px 25px 95px;
    display: flex;
    justify-content: space-between;
}

.nav-link {
    font-size: 24px;
    color: white;
    text-decoration: none;
    display: block;
}

h1 {
    text-align: center;
    color: white;
    font-size: 36px;
    margin-top: 45px;
    margin-bottom: 40px;
}

.post-text {
    font-size: 24px;
}

.info {
    display: flex;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: 0 auto;
}

.post {
    background-color: white;
    padding: 15px 45px 30px 45px;
    width: 400px;
    margin: 20px;
    position: relative;
}

.article-but {
    text-decoration: none;
    background-color: #133aac;
    color: white;
    font-size: 24px;
    text-align: center;
    padding: 10px 75px 10px 75px;
    display: block;
}

.full-image {
    margin: 100px 0px 100px 0px;
}

.social {
    display: block;
    width: 30px;
}

footer {
    background-color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 30px 30px 20px 45px;
}

.footer-text {
    font-size: 24px;
    margin-right: 30px;
}

.footer-text span {
    color: #850AE5;
    font-weight: bolder;
}
.add{
    color: white;
    position: fixed;
    right: 30px;
    width: 50px;
    top: 230px;
}
.laptop{
    position: relative;
    width: 100px;
    height: 100px;
    top: 80px;
    right: 50px;
    
}
h1::before{
    content:url("https://image.shutterstock.com/image-photo/image-260nw-1358889212.jpg");
    height:50px;
    width:50px;
}
h1::after{
    content:url("https://image.shutterstock.com/image-photo/image-260nw-1358889212.jpg");
    height:20px;
    width:20px;
}
.button:hover{
    background-color: orchid;
}
.post:hover{
    background-color: pink ;
}
.laptop:hover{
    position: relative;
    left: 325px;
}
